<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Burger Time!</h1>
    </div>
</div>


<div class="row">

    <div class="col-4 mx-auto">
        <h2>Burgers in the queue:</h2>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burger-block eaten=true}}
            {{/unless}}
        {{/each}}
    </div>


    <div class="col-4 mx-auto">
        <h2>Burgers that were eaten:</h2>
        {{#each burgers}}
            {{#if devoured}}
                {{> burger-block eaten=false}}
            {{/if}}
        {{/each}}
    </div>

</div>

<br>

<form class="create-form">

    <div class="form-group">

        <textarea class="col-4" type="text" id="burger" rows="4" name="name"></textarea>

    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <p>Enter a burger for the queue in the text area and press Submit.</p>

</form>